body {
    background-color: main-container;
    margin: 0px;
    padding: 0px;
    background-color: #222629;
    color: white;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
}

#main-container {
    margin-top: 40px;
    margin-bottom: 40px;
    /* background-color: pink; */
    width: 100%;
    /* min-width: 600px; */
    /* margin-top: 100px; */
    /* transform: translate(50%); */
    text-align: center;
}

#name{
    color: #87C232;
    font-size: 40px;
    line-height: 20px;
}

#attention {
    color: white;
    font-size: 80px;
}


#sub-text{
    color: #696E70;
    font-size: 25px;
}

/* Beta opens January 2021 */
#small-text {
    font-size: 15px;
    color: white;
    font-style: italic;
    position: fixed;
    top: 5px;
    left: 5px;
    /* line-height: 0px; */
}


#qr{
    width: 30%;
    min-width: 300px;
    border-radius: 10%;
    margin-top: 30px;
    transition: transform .2s; /* Animation */
    
}

#qr:hover {
    transform: scale(1.05);
}


/* Color Scheme */
.text-extra-dark-grey {
    color: #222629;
}
.text-dark-green {
    color: #618930;
}

.text-light-green {
    color: #87C232;
}

.text-light-grey {
    color: #696E70;
}

.text-dark-grey {
    color: #474A4F;
}

/* A link that has not been visited */
a:link {
    color: white;
    text-decoration: none;
}
/* A link that has been visited */
a:visited {
    color: white;
}
/* A link that is hovered on */
a:hover {
    color: #87C232;
}
/* A link that is selected */
a:active {
    color: white;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 300px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }